extends layout

block content
    .main.center.error.container
        .row.text-xs-center
            .col-md-6.offset-md-3.pt-2
                i.icn-person.material-icons error
                p.lead.mt-3= message 