body {
	background: #1d2a33 url('/static/images/bg.jpg') no-repeat;
	background-size: cover; 
}

/*--- Navbar ---*/

.navbar.bg-dark {
	background-color: rgba(0,0,0, .25)!important;
}

.nav-container {
	width: 100%;
}

.navbar-brand {
	margin-right: auto;
}

.navbar-brand i {
	position: relative;
	top: 5px;
}
.navbar-toggler {
	height: 40px;
	float: right;
}

.btn.login {
	padding: .35rem 1.2rem;
	align-self: center;
}

/*--- Main Content ---*/
.main {
	color: #fff;
	padding-top: 58px;
}
.main.home {
	text-align: center;
}

.main h1 {
	margin-top: 4rem;
}

.lead {
	margin-bottom: 2rem;
}

.register {
	color: #17a2b8;
	border: 1px solid #17a2b8;
}

.register:hover {
	border-color: #0056b3;
}

	/*- Sign Up -*/
.form-control::placeholder {
	color: rgba(40,40,40,.5);
}

/*--- Media Queries ---*/

@media (min-width: 768px ) {
	.navbar {
		padding: .5rem 4rem;
	}
	.nav-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.navbar-nav {
		width: 400px;
		display: flex;
		justify-content: space-between;
		font-size: 1.2rem;
	}
	#navbar {
		flex-grow: 0;
	}
	.navbar-brand {
		margin-right: 0;
	}
}